# Python
__pycache__/
*.pyc
*.pyo

# Virtual environments
venv/
env/

# IDE
.vscode/
.idea/
.DS_Store

# Streamlit
.streamlit/secrets.toml

# Notebooks checkpoints
.ipynb_checkpoints/

# Misc
*.log
.env
